<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-2 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item mb-2 border-bottom">
          <a class="nav-link" (click)="navigateToSection('reservas')">Reservas</a>
        </li>
        <li class="nav-item mb-2 border-bottom">
          <a class="nav-link" (click)="navigateToSection('habitaciones')">Habitaciones disponibles</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" (click)="navigateToSection('rooms')">Rooms</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-10 content mt-4">
      <div class="text-center">
        <h3>ADMINISTRADOR DASHBOARD</h3>
      </div>
      <div id="dashboard" class="section" *ngIf="currentSection === 'reservas' || !currentSection">
        <h2>Reservas</h2>
        <!-- Contenido de la sección de Reservas -->
      </div>

      <div id="reservations" class="section" *ngIf="currentSection === 'habitaciones'">
        <h2>Habitaciones disponibles</h2>
        <!-- Contenido de la sección de Habitaciones -->
      </div>

      <div id="rooms" class="section" *ngIf="currentSection === 'rooms'">
        <h2>Rooms</h2>
        <!-- Contenido de la sección de Rooms -->
      </div>
    </div>
  </div>
</div>
