<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-2 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item mb-2 border-bottom">
          <a class="nav-link" (click)="navigateToSection('reservas')">Reservas</a>
        </li>
        <li class="nav-item mb-2 border-bottom">
          <a class="nav-link" (click)="navigateToSection('habitaciones')">Habitaciones disponibles</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" (click)="navigateToSection('rooms')">Rooms</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-10 content mt-4">
      <div id="dashboard" class="section" *ngIf="currentSection === 'reservas' || !currentSection">
        <h2>Reservas</h2>
        <!-- Contenido de la sección de Reservas -->
      </div>
      <div id="reservations" class="section" *ngIf="currentSection === 'habitaciones'">
        <div class="container-fluid">
          <div class="mb-4">
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#registroHabitacion">
              <span class="bi bi-plus-square-fill">&nbsp;Añadir habitación</span>
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Número de camas</th>
                <th>Número de baños</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let habitacion of habitaciones">
                <td>{{ habitacion.nombre }}</td>
                <td>{{ habitacion.descripcion }}</td>
                <td>{{ habitacion.numCamas }}</td>
                <td>{{ habitacion.numBanos }}</td>
                <td>{{ habitacion.precio }}</td>
                <td>
                  <button class="btn btn-primary btn-sm mr-2" (click)="editarHabitacion(habitacion.id)">
                    <span class="bi bi-pencil-fill"></span>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarHabitacion(habitacion.id)">
                    <span class="bi bi-trash-fill"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> 
      </div>

      <div id="rooms" class="section" *ngIf="currentSection === 'rooms'">
        <h2>Rooms</h2>
        <!-- Contenido de la sección de Rooms -->
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="registroHabitacion" tabindex="-1" aria-labelledby="registroHabitacionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroHabitacionLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="habitacionForm" (ngSubmit)="registrarHabitacion()">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label for="numCamas">Número de Camas:</label>
            <input type="number" id="numCamas" formControlName="numCamas" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="numBanos">Número de Baños:</label>
            <input type="number" id="numBanos" formControlName="numBanos" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" formControlName="precio" class="form-control" required>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-secondary mr-3" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" type="submit">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

