<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title bm-4">Perfil de Usuario</h2>
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-subtitle">Nombre del Usuario</h4>
            <p class="card-text">Rol del Usuario</p>
          </div>
          <div class="col-md-6 text-md-right">
            <button class="btn btn-primary">Editar Perfil</button>
            <button class="btn btn-danger">Cerrar Sesión</button>
          </div>
        </div>
        <div class="card-details">
          <div class="row">
            <div class="col-md-6">
              <div class="card-info">
                <label>Email:</label>
                <p>usuario@ejemplo.com</p>
              </div>
              <div class="card-info">
                <label>Teléfono:</label>
                <p>+1234567890</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-info">
                <label>Descripción:</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="card-info">
                <label>Dirección:</label>
                <p>Calle Principal, Ciudad, País</p>
              </div>
            </div>
          </div>
          <!-- Agrega más detalles y propiedades del perfil del usuario según tus necesidades -->
        </div>
      </div>
    </div>
  </div>
  